p,
div {
  display: inline-block;
  font-size: 50px;
}

.control-block {
  display: block;
}

div .first-number .title,
div .second-number .title {
  font-size: 1.5rem;
}
.first-number,
.second-number {
  margin-right: 20px;
}
.first-number select,
.second-number select {
  display: block;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
}
.container.calculation {
  display: block;
}
.input-num {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
}
.display-results div {
  font-size: 15px;
  display: block;
}

.result-true {
  color: green;
}
.result-false {
  color: rgb(172, 48, 48);
}
.counter-display {
  margin: 0;
  font-size: 30px;
}
